<section class="vh-100 home">
  <div class="container py-5 h-50">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-5">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
           
            <div class=" d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div class="d-flex align-items-center mb-3 pb-1">
              
                    
                    <span class="h1 fw-bold mb-0">CPlayer</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                    Sign into your account
                  </h5>

                  <div class="form-group" *ngIf="status">
                    <label style="color: red">Invalid Email or Password</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      required
                      [(ngModel)]="credentials.email"
                      name="email"
                      type="email"
                      id="form2Example17"
                      class="form-control form-control-lg my-class"
                      formControlName="email"
                    />
                    <label class="form-label" for="form2Example17">Email</label>
                  </div>
                  

              

                  <div class="form-outline mb-4">
                    
                    <input
                      required
                      [(ngModel)]="credentials.password"
                      name="password"
                      type="password"
                      id="form2Example27"
                      class="form-control form-control-lg my-class"
                      formControlName="password"
                    />
                    <label class="form-label" for="form2Example27"
                      >Password</label
                    >
                  </div>

                 

                  <div class="pt-1 mb-4">
                    <button
                      class="btn btn-success btn-lg btn-block"
                      type="submit"
                      [disabled]="form.invalid"
                    >
                      Login</button
                    >&nbsp;
                    
                  </div>

                  <p class="mb-5 pb-lg-2" style="color: #393f81">
                    Don't have an account?
                    <a routerLink="/user-register" style="color: #393f81"
                      >Register here</a
                    >
                  </p>
              
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
