.container{
    margin-top: 30px;
    padding: 20px;
 
}

h1{
    text-align: center!important;
}

.col{
    display: flex!important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0px;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #d48f40;
    color: white;
  }

