<app-header></app-header>
<div class="container">
    <div class="input-group w-25">
      <input
      id="table-filtering-search"
      class="form-control searchTerm"
      type="text"
      name="searchTerm"
      placeholder="Search"
      [(ngModel)]="searchTerm"
      (input)="search(searchTerm)"
      />
    </div><br/>
    <table id="customers">
        <thead>
          <tr>
            <th scope="col">Match Type</th>
            <th scope="col">team1</th>
            <th scope="col">team 2</th>
            <th scope="col">Result</th>
           
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="
            let team of teams
            | searchFilter2: searchTerm
          ">
          <td>{{team.matchType}}</td>
          <td>{{team.t1}}</td>
          <td>{{team.t2}}</td>
          <td>{{team.status}}</td>
         
          </tr>
          </tbody>
          </table>
    </div>