<app-header></app-header>
<body>
    <br/><br/><br/>
    <div class="f">
    <div class="container">
<h1>Live Status</h1>
<hr/>
<h3>Respresenting you the live status of all matches.</h3>
<button type="button" class="ml-5 btn btn-primary " routerLink="/score">Click</button>
    </div>
    <div class="container">
        <h1>Current Matches</h1>
<hr/>
<h3>Have a look at the exciting matches that are happening.</h3>
<button type="button" class="ml-5 btn btn-primary " routerLink="/matches">Click</button>
    </div>
    <div class="container">
        <h1>List Of Series</h1>
        <hr/>
        <h3>List of all the series that will be conducted.</h3>
        <button type="button" class="ml-5 btn btn-primary " routerLink="/series">Click</button>
    </div>
    </div>
</body>
